In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\vandi\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\Vandi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
order_df = pd.read_csv("data/orders.csv")

In [4]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1665759,342310,100001,prior,18,4,7,4.0
1779807,342288,106861,prior,7,1,15,9.0
1706987,3134446,102478,prior,14,4,12,17.0
2970384,2390421,179286,prior,41,1,9,1.0
945544,2598572,56729,prior,4,1,19,9.0

In [5]:
aisles_df = pd.read_csv("data/aisles.csv")
departments_df = pd.read_csv("data/departments.csv")
order_products_df = pd.read_csv("data/order_products.csv")
products_df = pd.read_csv("data/products.csv")

In [6]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [7]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [8]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
15122834   1595653       44607                 12          1
1885656     198807       39877                 24          1
21739704   2293089       26940                  1          1
13532324   1428237       17579                 27          1
32222396   3398715        9112                  1          1

In [9]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [10]:
# connection
try:
    conn = psycopg2.connect(dbname = "e-commerce analysis", user='postgres', password='Avni1!', port='5432')
except:
    print("connection was unsuccessful")

In [11]:
cur = conn.cursor()

In [12]:
engine = create_engine('postgresql+psycopg2://postgres:Avni1!@localhost/e-commerce analysis')

In [13]:
cur.execute("""
CREATE TABLE aisles(
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR(255)
)
""")

In [14]:
cur.execute("""
CREATE TABLE departments(
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [15]:
cur.execute("""
CREATE TABLE products(
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id), 
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [16]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER
)
""")

In [26]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY(order_id, product_id),
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [27]:
conn.commit()

In [19]:
order_df.drop('eval_set', inplace=True, axis=1)

In [20]:
aisles_df.to_sql('aisles', con=engine, if_exists="append", index=False)

134

In [21]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [22]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [23]:
order_df.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
1665759,342310,100001,18,4,7,4.0
1779807,342288,106861,7,1,15,9.0
1706987,3134446,102478,14,4,12,17.0
2970384,2390421,179286,41,1,9,1.0
945544,2598572,56729,4,1,19,9.0
2123274,2845997,127706,5,3,15,6.0
795999,1818104,47860,16,1,9,9.0
1715107,1727974,102989,4,3,18,2.0
1441742,2429501,86633,36,0,20,10.0
735135,2045565,44237,20,2,14,29.0

In [24]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [28]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000